# --------------------

# Node / React (Frontend)

# --------------------
node_modules/
build/
dist/
.cache/
.env

# --------------------

# Python (Backend)

# --------------------
venv/
**pycache**/
*.pyc
.env

# --------------------

# General

# --------------------

.env
*.log
.DS_Store
.vscode/
.idea/

# --------------------

# OS files

# --------------------

Thumbs.db
